:root {
    /* --black-color: black;
    --white-color: white;
    --lite-white: whitesmoke;
    --purple-color: red ; */

    --primary-font: "Oswald", sans-serif;
    --secondary-font: "Roboto Mono", monospace;
    --tertiary-font: "Kalam", cursive;

    /* --cursor-icon: url("../assets/mouse-hand-cursor-color-icon.svg"); */
}

/* preloader */
#content {
    display: none;
}

#loader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loader img {
    height: 250px;
    width: auto;
}

html {
    scrollbar-color: auto;
    scrollbar-color: red transparent;
    /* cursor: var(--cursor-icon), auto; */
    scroll-behavior: smooth;
}

/* text selection color */
::-moz-selection {
    /* Code for Firefox */
    color: red;
    background: transparent;
}

::selection {
    color: red;
    background: white;
}

.outermain-container {
    background-image: linear-gradient(to top, #ff0000, #c20023, #820327, #420f1d, #000000);
    width: 100%;
    height: 100vh;
}

.inner-container {
    width: 100%;
    height: 100vh;
}

.card-container {
    height: 100vh;
}

.card-div {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.card-head-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.name {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--primary-font);
}

.subtext2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: var(--tertiary-font);
    text-align: center;
}

.india {
    color: #FF661F;
    background-image: linear-gradient(90deg, #FF661F 50%, #FFFFFF 0%, #046B39 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtext {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    font-family: var(--secondary-font);
    text-align: center;
    padding-bottom: 10px;
}

.pro-img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.item {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 10px;
    color: white;
    font-family: var(--secondary-font);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
}

.icon-container {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icons {
    color: red;
    font-size: 20px;
}

.link-text {
    margin-left: 20px;
}

.item:hover {
    background-color: red;
    color: white;
    transform: translate(5px, 0px);
    transition: 0.2s ease-in-out;
}